/* hide small jellyfin icon */
.imgLogoIcon {
    display: none !important;
}

/* hide jellyfin text */
.pageTitleWithLogo .pageTitle {
    display: none !important;
}

/* show your custom logo */
.pageTitleWithLogo {
    background: url("https://raw.githubusercontent.com/EganStark/JellyfinOwnCustomizations/main/customlogojellyfin/sinsinema2.png") no-repeat left center !important;
    background-size: 150px auto !important;
    min-height: 40px !important;
    width: 180px !important;
    display: inline-block !important;
}

/* hide stretched sidebar logo */
.adminDrawerLogo img {
    display: none !important;
}
