/* Hide the small Jellyfin icon */
.imgLogoIcon {
    display: none !important;
}

/* Hide the Jellyfin text */
.pageTitleWithLogo .pageTitle {
    display: none !important;
}

/* Show your new logo properly */
.pageTitleWithLogo {
    background: url("https://cdn.jsdelivr.net/gh/EganStark/JellyfinOwnCustomizations@main/customlogojellyfin/sinsinema2.png") no-repeat left center !important;
    background-size: 150px auto !important;
    min-height: 38px !important;
    width: 170px !important;
    display: inline-block !important;
}

/* Hide stretched sidebar logo */
.adminDrawerLogo img {
    display: none !important;
}
